---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="Home">
  <div
    class="overflow-hidden bg-slate-900 dark:-mb-32 dark:mt-[-4.75rem] dark:pb-32 dark:pt-[4.75rem]"
    slot="banner"
  >
    <div class="py-16 sm:px-2 lg:relative lg:px-0 lg:py-20">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 lg:max-w-8xl lg:grid-cols-2 lg:px-8 xl:gap-x-16 xl:px-12"
      >
        <div class="relative z-10 md:text-center lg:text-left">
          <img
            alt=""
            fetchpriority="high"
            width="530"
            height="530"
            decoding="async"
            data-nimg="1"
            class="absolute bottom-full right-full -mb-56 -mr-72 opacity-50"
            style="color:transparent"
            src="/blur1.png"
          /><div class="relative">
            <Title title="The playground of lightweight web applications." />

            <p class="mt-3 text-2xl tracking-tight text-slate-400">
              This site is designed to demonstrate the power of HTMX whe
              combined with other lightweight dev tools. Remove the need for
              heavy frontend frameworks and start design slick web apps driven
              by HTML.
            </p><div class="mt-8 flex gap-4 md:justify-center lg:justify-start">
              <a
                class="rounded-full bg-sky-300 py-2 px-4 text-sm font-semibold text-slate-900 hover:bg-sky-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-300/50 active:bg-sky-500"
                href="/">Get started</a
              ><a
                class="rounded-full bg-slate-800 py-2 px-4 text-sm font-medium text-white hover:bg-slate-700 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white/50 active:text-slate-400"
                href="/">View on GitHub</a
              >
            </div>
          </div>
        </div>
        <div>
          <img
            alt="Sketch of the internals of a computer"
            src="/home_hero.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      class="prose prose-slate max-w-none dark:prose-invert dark:text-slate-400 prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 dark:prose-lead:text-slate-400 prose-a:font-semibold dark:prose-a:text-sky-400 prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.sky.800))] dark:hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 dark:prose-hr:border-slate-800"
    >
      <p>
        Will HTMX save to world? Probably not but it might just make life a
        little easier on the web. For years we have had the growth of the mega
        frontend frameworks. I have worked on projects that have involved huge
        amounts of engineering to create a simple marketing website that can run
        on Vercel.
      </p>
      <p>
        HTMX is an approach that removes a lot of this engineering, allowing you
        to achieve a lot with not a lot. Gone are the 2-4mb client JS downloads
        and instead a small 200kb total initial download size.
      </p>
      <p>
        Will HTMX replace React or Angular (insert large framework here), no
        probably not, but it will make it harder to justify these tools when
        developing simpler less frontend heavy sites. It isn't a crime to have
        sessions on servers and it isn't a crime to send HTML to a browser
        (sorry JavaScript guys).
      </p>
      <p>
        Navigate the examples on the left hand side to see the power of HTMX.
        Note, these are experiments and some may work better than others.
      </p>
      <p class="font-bold text-xl">
        Got a suggestion or an experiment you want to try? For the repo, have a go and share.
      </p>
    </div>
  </div>
</Layout>
