---
Astro.response.status = 404;
---

<div
  class="space-x-3 dark:ring-zinc-300/20 dark:text-zinc-400 rounded-md  text-center max-w-lg flex flex-row items-center" 
>
  <div class="flex justify-center items-center pb-2">
    <span
      class="text-3xl h-14 rounded-full aspect-square inline-block flex justify-center items-center bg-red-500 text-white"
    >
      <i class="fa fa-exclamation-circle"></i>
    </span>
  </div>
  <h3 class="text-2xl pb-2">Resource Not Found</h3>
</div>
